<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transactions-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `transactions-card`
     * Tabla de informacion Transaction
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransactionsCard extends Polymer.Element {
      static get is() { return 'transactions-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'transactions-card'
          }
        };
      }
    }

    window.customElements.define(TransactionsCard.is, TransactionsCard);
  </script>
</dom-module>
