<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="transactions-card">
  <template>
    <style>
      :host {
        display: block;
      }
      section {
        margin: 0 auto;
      }

      h1 {
        text-align: center;
      }

      .table-general {
        width: 100%;
        background-color: white;
        border-collapse: collapse;
        text-align: center;
      }

      th, td {
        padding: 10px;
      }

      thead {
        background-color: #2BBA;
        border-bottom: solid 5px #2C9;
        color: #FFFFFF;
      }

    </style>

    <section>
      <h1>Transactions</h1>
        <table class="table-general">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Descripcion</th>
              <th>A..</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Fecha 1</td>
              <td>Descripción 1</td>
              <td>A.. 1</td>
            </tr>
            <tr>
              <td>Descripción 2</td>
              <td>Fecha 2</td>
              <td>A.. 2</td>
            </tr>
            <tr>
              <td>Descripción 3</td>
              <td>Fecha 3</td>
              <td>A.. 3</td>
            </tr>
          </tbody>
        </table>
    </section>
  </template>

  <script>
    /**
     * `transactions-card`
     * Tabla de informacion Transaction
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TransactionsCard extends Polymer.Element {
      static get is() { return 'transactions-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'transactions-card'
          }
        };
      }
    }

    window.customElements.define(TransactionsCard.is, TransactionsCard);
  </script>
</dom-module>
